body {
  background-color: hsl(234, 63%, 44%);
}

.weather-app {
  background-color: #eb9788;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08px);
}

header {
  border-bottom: 1px solid #b7472a;
  padding: 0 0 30px 0;
}
a {
  color: #885df1;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 57%;
  padding: 15px 18px;
  font-size: 16px;
}

.search-form-button {
  background-color: #ffd5ab;
  padding: 15px 28px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}

.current-location-button {
  background-color: #ffd5ab;
  padding: 15px 28px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

.weather-app-details strong {
  color: #f65282;
}

.weather-app-temp-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temp-value {
  font-size: 88px;
  font-weight: bold;
  margin: left 10px;
}

.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}
.day-column {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font: size 16px;
}
.weather-icon {
  font-size: 24px;
  color: black;
}

footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13.5px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
